body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
};

img {
  margin: 10px; /* Ajusta el margen según tus necesidades */
}

button{

  margin:10px;
}