
*{
	font-family: 'Roboto Condensed', sans-serif;
	

 }

 .letra{font-size:larger;}
 .letra1{font-size: large;}
body{margin: 0;
	
	


}
.chaco{ min-width: 100vw;
	
}
.pokebola{
	border-radius: 300px;
	
}
.black{
	color: black;
}


body a{color: white;
 	text-decoration: none;
 	font-weight: bold;

}
body i{
	color:#1f7042;
}
.iupi{
	border: solid blueviolet 2px;
	 border-radius: 20px;
	 color:white
}
.iupi2{
	
	color:white
}
.contenedor-princi {
	background-image: url(img/fondorealista.jpg);
	background-repeat: no-repeat;
  background-size: cover;
}
body a:hover{
	color:rgb(0,129,287);
}
.menu a {
	 text-decoration: none;
	 font-weight: bold;
	 color: #845ec2;
       }
       

.menu{
	list-style: none;
	position: sticky;
	margin-top: 0px;
	top: 0px;
	background: #1f7042;
	opacity: 0.5;

}
.menu li{
	display: inline-block;
	margin-right: 25px;
	padding:10px 0 ;
}
 a:hover{
	color:rgb(0,129,287);

}
.gradiente{
	 background-image:radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(25,131,112,1) 0%, rgba(15,60,64,1) 100%);
	color: white;
	padding: 38px;

}
 .viole{background:blueviolet ;}
.iupi3{
	border:solid blueviolet 2px;
}




 .flex{
 	display: flex;
 	align-items: center;
 }
 

 .flex1{

 	background: #e49800;
	color:white;
 	padding: 5px;
 	
 	max-width: 100%;

}
.opa{
	opacity:0;
}

 .wichi{
	min-height: 100vh;
 }

 .flex1 a{
 	color: white;
 	text-decoration: none;
 	font-weight: bold;
 }
 .flex1 a:hover{
 	color:rgb(0,129,287);

 }

@media screen and ( max-width: 400px){
	  body .fotojere{
		width: 100px;
	}
	body .fotomewtwo{
		width: 100px;
	}
	
		
	}
	@media screen and ( max-width: 900px){
		.fotocv {
			width: 400px;
		}
	  
		  
	  }
	  @media screen and ( max-width: 500px){
		.fotocv {
			width: 300px;
		}
	  
		  
	  }
	  @media screen and ( max-width: 400px){
		.fotocv {
			width: 150px;
		}
	  
		  
	  }
	
.whatsapp{
position: fixed;
bottom: 0;
right: 0;
opacity: 0.75;
color: white;
 	text-decoration: none;
 	font-weight: bold;
	
}

.container{
	opacity: 1;
}
.negri{
	color:black
}
.resaltado{
	color:seagreen;
	font-weight: bold;
}
.auto{
	margin:auto;
}
.titles{
	text-decoration: underline solid blueviolet 2px;
}

#proyectos {
	margin: 0 auto;
	text-align: center;
  }
  .carousel-item img {
	max-width: 100%;
  }
  